[buildout]
extends			= versions.cfg
versions		= versions
parts			= demo
			  pep8
			  pyflakes
develop			= .
eggs			= django
			  django-blog-zinnia
			  PIL
			  html5lib
			  beautifulsoup4

find-links		= http://dist.repoze.org/

unzip			= true

extensions		= gp.vcsdevelop
			  buildout.dumppickedversions

develop-dir		= django-apps-src

vcs-update		= true

vcs-extend-develop	= git+git://github.com/Fantomas42/django-blog-zinnia.git#egg=django-blog-zinnia

[demo]
recipe			= djangorecipe
projectegg		= demo_zinnia_html5
settings		= settings
eggs			= ${buildout:eggs}

[pyflakes]
recipe			= zc.recipe.egg
scripts			= pyflakes
eggs			= pyflakes
entry-points		= pyflakes=pkg_resources:run_script
arguments		= 'pyflakes', 'pyflakes'

[pep8]
recipe			= zc.recipe.egg
eggs			= pep8
